<html>
    <head>
        <title>Sample App</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" >
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    </head>
    <body bgcolor="yellow">
        <div id="container">
            <div class="title">
                <h1>Welcome to Some Game</h1>
            </div>

            <div>
            	<button type="button" id="withd" class="btn btn-primary">Withdraw</button>
                Amt: <input id="widinp" type="text" placeholder="0">
            </div>            
            <div>
                <button type="button" id="depos" class="btn btn-primary">Deposit</button>
                Amt: <input id="depinp" type="text" placeholder="0">
            </div>            
        </div>

        <br>
        Balance: <span> {{ amnt }} </span>
        <div style="text-align: center; margin-bottom: 1%">
        Created by Deep Web
        </div>
        <script src="../static/a.js"></script>
    </body>
</html> 

